body{
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.rectangle {
  height: 600px;
  border-radius: 15px;
  box-shadow: 1px 4px 4px 1px rgba(85,85,85,0.25);
}

.dates-count{
  color:#555555;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
}
.color-body{
  height: 100vh;
  background-color: #f8f8f8;
}

.btn-style{
  margin-top: 20px;
  width: 200px;
  border-radius:8px;
  color: white;
  background-color: chocolate;
  border: 0;
  box-shadow: 1px 4px 4px 1px rgba(85,85,85,0.25);
}

.imag-avatar{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 20px;
}

.px-3{
  margin: 20px;
  margin-left: 0;

}

.fs-6{
  color:#5b5b5b;
}